{% extends "base.html" %}

{% load embed_video_tags %}

{% block content %}

<h1>Lucas Lepri</h1>
  <table class="table">
    {% for lucas in object_list %}
    <tr>
      {% video lucas.video as video %}
        <td class = detail> <pre>{{ lucas.title }}</pre>
      {{ lucas.description }} </td>
      <td><a href="{{ lucas.get_absolute_url }}"><img src="{{ video.thumbnail }}" width=240 height=190 class="img-rounded"></a></td>
      {% endvideo %}
    </tr>

    {% endfor %}
  </table>

  <ul class="pager">
    {% if page_obj.has_previous %}
    <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">&larr; Older</a></li>
    {% endif %}
    {% if page_obj.has_next %}
      <li class="next"><a href="?page={{ page_obj.next_page_number }}">Newer &rarr;</a></li>
    {% endif %}
  </ul>
{% endblock %}
